@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --background: hsl(0, 0%, 7%);
    --primary: hsl(0, 0%, 7%);
    --primaryBg: hsla(155, 100%, 65%, 1%);
}

.abouut{
    background: var(--background) ;
}

.blury {
    height: 32rem;
    width: 72rem;
    background-color: var(--primary);
    opacity: 0.5;
    filter: blur(200px);
    border-radius: 100px;
    z-index: 0;
    position: absolute;
  }

  .service-card {
    margin-top: 20px;
    position: relative;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .service-card2 {
    margin-top: 20px;
    position: relative;
    padding: 25px;
    background-color: #025159;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .service-card:hover{
    background-color: var(--background);
    color: white;
    transition: ease-in-out 0.5s;

  }

  /*  slide-in from the left and right animation for the service card */
  .service-cards:nth-child(odd) {
    animation: slide-in-left 0.5s ease-out;
  }

  .service-cards:nth-child(even) {
    animation: slide-in-right 0.5s ease-out;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }