@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a202c;
  --primary: #1a202c;
  --primaryBg: #1a202c;
}

.abouut {
  background: var(--background);
}

.blury {
  height: 32rem;
  width: 72rem;
  background-color: var(--primary);
  opacity: 0.5;
  filter: blur(200px);
  border-radius: 100px;
  z-index: 0;
  position: absolute;
}

.service-card {
  margin-top: 20px;
  position: relative;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .service-card::before {
  
    content: "";
    position: absolute;
    top: -5px;
    right: -10px;
    border-top: 80px solid rgb(1, 48, 7);
    border-left: 80px solid transparent;
 
    width: 30px;
  }

    .service-card::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10px;
        border-bottom: 80px solid rgb(16, 16, 16);
        border-right: 80px solid transparent;
       
        width: 30px;
    } */
